@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Roboto+Slab:wght@200;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.principal {
  background-color: black;
  color: aquamarine;
  font-family: sans-serif;
  text-align: center; }
  .principal p {
    max-width: 60vw;
    margin: 0 auto; }

.header {
  background-color: #387780;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__img {
    margin-left: 1rem; }
  .header__ul {
    display: flex;
    list-style: none; }
    .header__ul--active {
      font-weight: 900; }
    .header__ul li {
      padding: 1rem; }
      .header__ul li a {
        color: #E83151;
        text-decoration: none; }

.principal {
  max-width: 60vh;
  /* se puede restar, no se puede mesclar unidades de medida*/ }

.secundario {
  max-width: 50vh; }
  .secundario h2 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 900;
    font-style: italic; }

.principal__h2 {
  color: blue;
  color: violet; }
